#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#
mainmenu "Linux/$ARCH $KERNELVERSION Kernel Configuration"

config SRCARCH
	string
	option env="SRCARCH"

config CUSTOM
	bool "Custom ROM support"
	default n
	help
	  Enable if you want to build custom ROM specific features

source "arch/$SRCARCH/Kconfig"
